@page
@model Teacher.Pages.Koordinator.CreateModel
@{
}

<h2>New Teacher</h2>
@if(Model.errorMessage.Length > 0)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong> @Model.errorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
    </div>
}

<form method="POST">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">First Name</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="First Name" value="@Model.teacherInfo.FirstName"/>
        </div>

    </div>

     <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Last Name</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="Last Name" value="@Model.teacherInfo.LastName"/>
        </div>

    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Initialer</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="Initialer" value="@Model.teacherInfo.Initialer" />
        </div>

    </div>


    @if (Model.SuccesMessage.Length > 0)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong> @Model.SuccesMessage</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
        </div>
    }

   <div class=" row mb-3">
       <div class=" offset-sm-3 col-sm-3 d-grid">
           <button type="submit" class=" btn btn-primary">Submit</button>
       </div>

        <div class=" offset-sm-3 col-sm-3 d-grid">
            <button class=" btn btn-outline-primary" href="/" role="button">Cancel</button>
        </div>


   </div>
</form>